# Byte-compiled files
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/

# Environment variables
.env
.env.*

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs and cache
*.log
.cache/
*.sqlite3
*.db

# Jupyter
.ipynb_checkpoints/

# Pytest / coverage
.pytest_cache/
htmlcov/
coverage.*

# Build artifacts
build/
dist/
*.egg-info/
